
new_selenium_project/.idea/vcs.xml
new_selenium_project/.idea/modules.xml
new_selenium_project/.idea/new_selenium_project.iml
new_selenium_project/.idea/misc.xml
new_selenium_project/.idea/inspectionProfiles/profiles_settings.xml
